*::-webkit-input-placeholder {
    color: #999;
}    
*:-moz-placeholder {
    /* FF 4-18 */
    color: #999;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #999;
}    
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #999;
}